body {
  background-color: black;
}

.project-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to top left, black 0%, black 30%, royalblue 50%, royalblue 70%, black 100%);  /* Diagonal gradient (black bottom right to blue top left) */
  color: #fff; /* Light text color to contrast with dark background */
  overflow: hidden; /* Hide vertical scrollbar */
}

.project-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Increase letter spacing for emphasis */
  font-weight: bold; /* Make the text bold */
  color: #fff; /* Light text color for heading */
}

.video-column {
  display: flex;
  flex-wrap: wrap; /* Wrap items onto multiple lines */
  justify-content: center;
  gap: 20px;
  overflow: hidden; /* Hide vertical scrollbar */
}

.video-wrapper {
  /* Set aspect ratio for reels video (9:16) */
  position: relative;
  width: calc(33.33% - 20px); /* Adjust width based on number of videos per row */
  padding-top: 56.25%; /* Maintain 9:16 aspect ratio */
  overflow: hidden;
  border-radius: 12px; /* Adjust border-radius for larger videos */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increased box shadow for emphasis */
  background-color: #333; /* Darker background for video container */
  transition: transform 0.3s ease;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video-wrapper:hover iframe {
  transform: scale(1.05); /* Slightly increase scale on hover for emphasis */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  
  .video-wrapper {
    width: 100%; /* Set full width for each video on smaller screens */
  }
}
