.project-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden; /* Hide vertical scrollbar */
}

.project-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  color: #333; /* Adjust text color as needed */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Increase letter spacing for emphasis */
  font-weight: bold; /* Make the text bold */
}

.video-column {
  display: flex;
  flex-wrap: wrap; /* Wrap items onto multiple lines */
  justify-content: center;
  gap: 20px;
  overflow: hidden; /* Hide vertical scrollbar */
}

.video-wrapper {
  flex: 0 0 calc(50% - 20px); /* Two videos per row with gap */
  max-width: calc(50% - 20px); /* Set maximum width for larger screens */
  height: 270px; /* Increased height for larger videos */
  border-radius: 12px; /* Adjust border-radius for larger videos */
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased box shadow for emphasis */
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px; /* Adjust border-radius for larger videos */
  transition: transform 0.3s ease;
}

.video-wrapper:hover iframe {
  transform: scale(1.05); /* Slightly increase scale on hover for emphasis */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .video-wrapper {
    flex: 0 0 calc(100% - 20px); /* Full width with gap */
    max-width: calc(100% - 20px); /* Set maximum width to full width */
  }
}
