.all-skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    text-align: center; /* Center-align the content */
  }
  
  .all-skill h1 {
    margin-bottom: 20px;
    color: orangered;
    font-size: 2rem;
  }
  
  .first, .second {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    margin-bottom: 20px;
  }
  
  .first .html, .first img, .second img {
    width: 20%;
    max-width: 100px;
    height: auto;
    margin: 5px;
  }
  
  .second img {
    height: auto;
    width: 20%;
    max-width: 100px;
    margin: 5px;
  }
  
  @media (max-width: 768px) {
    .first .html, .first img, .second img {
      width: 30%;
      max-width: none;
      padding: 0px 15px;
    }
  
    .all-skill h1 {
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .all-skill {
      padding: 40px; /* Increase padding for larger screens */
    }
  
    .all-skill h1 {
      font-size: 3rem; /* Increase font size for larger screens */
    }
  
    .first, .second {
      margin-bottom: 40px; /* Increase margin for larger screens */
    }
  
    .first .html, .first img, .second img {
      width: 15%; /* Adjust width for larger screens */
      max-width: none;
    }
  }
  